/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: black;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body,
input,
button {
  font-size: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
  background-color: rgb(173, 173, 173);
  border: 2px solid rgb(70, 70, 70);
}

#display {
  background-color: rgb(63, 63, 63);
  width: 90%;
  height: 150px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#buttons {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

#container {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}

#digits {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.num-btn, .funct-btn {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 10px;
}

#functions {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .funct-btn {
  width: 100%;
  height: 150px;
} */

#equals {
  width: 100%;
}
