/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: black;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body,
input,
button {
  font-size: 2em;
  font-family:'Courier New', Courier, monospace
}

button {
  cursor: pointer;
  background-color: rgb(173, 173, 173);
  border: 2px solid rgb(70, 70, 70);
}

#display {
  background-color: rgb(63, 63, 63);
  width: 70%;
  height: 128px;
  margin-top: 32px;
  margin-bottom: 32px;
  border-radius: 16px;
}

#buttons {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 70%;
}

#digits {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.num-btn, .funct-btn {
  width: 96px;
  height: 96px;
  border-radius: 50%;
  border: none;
  margin: 10px;
}

.num-btn {
  background-color: rgb(19, 19, 19);
  color:rgb(186, 193, 198);
}

#functions {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.funct-btn {
  background-color: rgb(83, 83, 83);
  color: rgb(186, 193, 198);
}

/* .funct-btn {
  width: 100%;
  height: 150px;
} */

#equals {
  width: 20%;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: none;
  background-color: darkslategray;
  color:rgb(186, 193, 198)
}